# Configuration MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123

# Endpoints MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_CONSOLE_ENDPOINT=localhost:9001

# Ports des services
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
NOTEBOOK_PORT=8888
DASHBOARD_PORT=8501

# Configuration des buckets
BRONZE_BUCKET=datalake-bronze
SILVER_BUCKET=datalake-silver
GOLD_BUCKET=datalake-gold
